## 집합(set) 
순서X, 중복X

In [1]:
s1 = set([1, 2, 3])
s2 = {3, 4, 5}

In [2]:
word = "Hello"*2
word

'HelloHello'

In [3]:
word_list = list(word)
word_list

['H', 'e', 'l', 'l', 'o', 'H', 'e', 'l', 'l', 'o']

In [4]:
s3 = set(word_list)
s3

{'H', 'e', 'l', 'o'}

In [5]:
s4 = set("Hello")
s4

{'H', 'e', 'l', 'o'}

In [7]:
s = {1, 2, 3, 4, 5, 3, 4}
s

{1, 2, 3, 4, 5}

In [8]:
s.add(10)
s

{1, 2, 3, 4, 5, 10}

In [9]:
s.remove(2)
s

{1, 3, 4, 5, 10}

In [13]:
s.update([1, 3, 5, 7, 9])
s

{1, 3, 4, 5, 7, 9, 10}

In [14]:
# discard - remove와 비슷
s.discard(7)
s

{1, 3, 4, 5, 9, 10}

In [15]:
s.clear()
s

set()

In [16]:
s1 = {1, 2, 3}
s2 = {3, 4, 5}

In [22]:
#합집합
print(s1.union(s2))
print(s1|s2)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [23]:
#교집합
print(s1.intersection(s2))
print(s1&s2)

{3}
{3}

In [24]:
#차집합
print(s1-s2)
print(s2.difference(s1))

{1, 2}
{4, 5}

### 실습 문제1

In [68]:
s3 = set()

for i in range(1, 100):
    if i % 3 == 0 :
        s3.update([i])

In [69]:
s5 = set()

for i in range(1, 101):
    if i % 5 == 0 :
        s5.update([i])

In [70]:
s = s3 & s5
print("3과 5의 공배수 : ", s)

3과 5의 공배수 :  {75, 45, 15, 90, 60, 30}

In [71]:
def multiples(n):
    s = set()
    
    for i in range(1, 101):
        if i % n == 0 :
            s.update([i])
    
    return s

In [74]:
s3 = multiples(3)
s5 = multiples(5)

s = s3 & s5
print("3과 5의 공배수 : "+str(len(s))+"개")

3과 5의 공배수 : 6개

### 실습 예시

In [73]:
s3 = {i for i in range(3, 100, 3)}
s5 = {i for i in range(5, 101, 5)}

s = s3 & s5
s = sorted(s)
print("3과 5의 공배수 : " + str(len(s)) + "개")

3과 5의 공배수 : 6개

## 딕셔너리 
Key & Value 쌍

In [1]:
d = {}
d['kim'] = 1
d['park'] = 2
d

{'kim': 1, 'park': 2}

In [2]:
d['park']

2

In [3]:
d['kim'] = 3
d

{'kim': 3, 'park': 2}

In [4]:
d['youn'] = 1
d

{'kim': 3, 'park': 2, 'youn': 1}

In [5]:
d.keys()

dict_keys(['kim', 'park', 'youn'])

In [6]:
d.values()

dict_values([3, 2, 1])

In [7]:
d.items()

dict_items([('kim', 3), ('park', 2), ('youn', 1)])

In [8]:
print('kim' in d)
print('lee' in d)

True
False

In [9]:
del d['kim']
d

{'park': 2, 'youn': 1}

In [10]:
d.clear()
d

{}

### 실습 문제2

In [46]:
sen = input("Enter a sentece: ")

Enter a sentece: Python is fun!

In [53]:
s = {}

for i in sen:
    s[i] = sen.count(i)

In [55]:
print(s)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

### 실습 예시

In [56]:
d = {}

for c in sen:
    if c in d:
        d[c] += 1
    else:
        d[c] = 1
        
print(d)

{'P': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 2, ' ': 2, 'i': 1, 's': 1, 'f': 1, 'u': 1, '!': 1}

## 함수
목적 : 코드 재사용, 절차적 분해

In [61]:
def add(a, b):
    result = a+b
    return result

In [62]:
add_result = add(100, 200)
add_result

300

In [63]:
def add_and_mul(a, b):
    return (a+b, a*b)

In [65]:
add_res, mul_res = add_and_mul(3, 4)
print(add_res)
print(mul_res)

7
12

### 실습 문제1

In [66]:
def my_len(x):
    length = 0
    
    for i in x:
        length += 1
        
    return length

In [69]:
a = [5, 5, 6, 7, 8, 3]
b = 'Life is short.'

print(len(a), len(b))
print(my_len(a), my_len(b))

6 14
6 14

### 실습 예시

In [73]:
def my_len(x):
    length = 0
    for i in x:
        length += 1
    return length

In [74]:
a = [5, 5, 6, 7, 8, 3]
b = 'Life is short.'

print(len(a), len(b))
print(my_len(a), my_len(b))

6 14
6 14

### 실습 문제2

In [96]:
def mult(a, b):
    mult_a2b = 1
    
    while(a<=b):
        mult_a2b = mult_a2b*(a)
        a += 1
        
    return mult_a2b

In [97]:
print(mult(1, 3))
print(mult(2, 5))

6
120

### 실습 문제3

In [84]:
def sum_pos_neg(l):
    possum = 0
    negsum = 0
    
    for i in l:
        if i > 0:
            possum +=i
        elif i < 0:
            negsum += i
            
    return possum, negsum

In [85]:
possum, negsum = sum_pos_neg([3, 4, -6, -3])
print(possum , negsum)

7 -9

In [86]:
mylist = [0, 0, 0, 0, 0, 0, 0, 0, 1, -1]
possum2, negsum2 = sum_pos_neg(mylist)
print(possum2 , negsum2)

1 -1

## 가변 매개변수

가변 매개변수는 하나만 사용 가능

In [94]:
def count_even(*n):
    cnt = 0
    for v in n:
        if v % 2 == 0:
            cnt += 1
    return cnt

In [95]:
count_even(1, 2, 3, 4, 5)

2

### 실습 문제4

In [144]:
import numpy as np

def vector_sum(vector, *vectors):
    vector = np.array(vector)
    
    if len(vectors) >1:
        vectors_sum = [0, 0]
        
        for i in vectors:
            vector_i = np.array(i)
            vectors_sum += vector_i
               
        sum = vector + vectors_sum
        
    else:
        vectors = np.array(vectors)
        sum = vector+vectors
    
    return sum

In [155]:
import numpy as np

def vector_sum(vector, *vectors):
    vector = np.array(vector)
    vectors_sum = [0, 0]
        
    for i in vectors:
            vector_i = np.array(i)
            vectors_sum += vector_i
               
    sum = vector + vectors_sum
    return sum

In [156]:
v1 = [0, 1]
v2 = [0.5, 0.5]
v3 = [1, 0]
v4 = [6, 4]
v5 = [3.13, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)

print(m1, m2, m3)

[1.5 1.5] [7.5 5.5] [4.13 2.72]

### 실습 예제

In [149]:
def vector_sum(vector, *vectors):
    # result = vector 이렇게되면 얕은 복사가 됨
    result = vector[:]
    
    for v in vectors:
        result[0] += v[0]
        result[1] += v[1]
        
    return result

In [150]:
v1 = [0, 1]
v2 = [0.5, 0.5]
v3 = [1, 0]
v4 = [6, 4]
v5 = [3.13, 2.72]

m1 = vector_sum(v1, v2, v3)
m2 = vector_sum(v1, v2, v3, v4)
m3 = vector_sum(v3, v5)

print(m1, m2, m3)

[1.5, 1.5] [7.5, 5.5] [4.13, 2.72]

## 디폴트 매개변수
디폴트 매개변수는 뒤쪽에 몰려 있어야 사용할 수 있음

In [159]:
def print_name(first, second='kim'):
    print('My name is', first, second + '.')
    
print_name('Gildong', 'Hong')
print_name('Gildong')

My name is Gildong Hong.
My name is Gildong kim.

## 키워드 매개변수

In [160]:
def calc(x, y=0, z=0):
    return x+y+z

result = calc(y=20, x=10, z=30)
print(result)

60

### 실습 문제5

In [174]:
def merge_list(list1=[0], list2 = [0]):
    merge = list1 + list2
    merge = sorted(merge)
            
    return merge

In [175]:
l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) 
print(ml2) 
print(ml3)

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

### 실습 예제

In [176]:
def merge_list(list1=[0], list2 = [0]):
    result = list1 + list2     
    return sorted(result)

In [177]:
l = [3, 5, 9, 1, 2]
ml1 = merge_list(l,[2,1])
ml2 = merge_list([6,9,4])
ml3 = merge_list()
print(ml1) 
print(ml2) 
print(ml3)

[1, 1, 2, 2, 3, 5, 9]
[0, 4, 6, 9]
[0, 0]

## 지역변수 전역변수

In [188]:
# 지역변수 - 함수 안에서 정의된 변수, 함수 밖 호출 X
def add_value2(a, b):
    add_res2 = a + b
    return add_res2

x=10
y=20
res = add_value2(x, y)
print(res)
print(add_res2)

30

NameError: name 'add_res2' is not defined

## 모듈

In [189]:
import math
math.factorial(10)

3628800

In [190]:
import math as mt
mt.factorial(10)

3628800

In [193]:
from math import factorial
factorial(10)

3628800

In [194]:
import random
random.choice('adcedfg')

'f'

In [198]:
a = 31049034 
b = 323094093224093
random.randint(a, b) # b까지
random.randrange(a, b) #b직전까지

155643169584442

In [199]:
random.sample([1,2,3,4,5,6,7], 3)

[3, 6, 5]

### 실습 문제6

In [271]:
import random 

lotto = []
for i in range(1, 46):
    lotto.append(i)

print('*** 로또 번호 자동 기입을 시작합니다 ***')
for i in range(1, 6):
    print(str(i)+'번째 자동 기입 ==> ', *random.sample(lotto, 6))

*** 로또 번호 자동 기입을 시작합니다 ***
1번째 자동 기입 ==>  2 26 22 3 45 8
2번째 자동 기입 ==>  17 45 22 19 4 42
3번째 자동 기입 ==>  28 25 17 8 23 4
4번째 자동 기입 ==>  31 42 38 19 13 44
5번째 자동 기입 ==>  20 6 21 16 26 18

### 실습 예제6

In [278]:
import random 

print('*** 로또 번호 자동 기입을 시작합니다 ***')

for i in range(5):
    print(i+1, '번째 자동 기입 ==> ', end = ' ')
    for j in range(6):
        print(random.randint(1, 45), end= ' ')
    print()

*** 로또 번호 자동 기입을 시작합니다 ***
1 번째 자동 기입 ==>  4 40 12 9 24 40
2 번째 자동 기입 ==>  41 5 33 37 11 32
3 번째 자동 기입 ==>  1 7 18 25 31 31
4 번째 자동 기입 ==>  7 38 42 35 7 42
5 번째 자동 기입 ==>  30 38 34 14 45 31

### 실습 문제7

In [219]:
def get_min_max(l):
    
    li_min = min(l)
    li_max = max(l)
    
    l.remove(li_min)
    l.remove(li_max)
    
    return li_min, li_max

In [220]:
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

1
9
[3, 5, 2]

### 실습 예제 7

In [279]:
def get_min_max(l):
    maximum = max(l)
    minimum = min(l)
    
    l.remove(maximum)
    l.remove(minimum)
    
    return maximum, minimum

In [280]:
l = [3, 5, 9, 1, 2]
min_val, max_val = get_min_max(l)
print(min_val)
print(max_val)
print(l)

9
1
[3, 5, 2]

### 실습 문제8

In [281]:
import copy

def comb_dict(d1, d2):
    comb = copy.deepcopy(d1)
    
    for i in comb.copy().keys():
        for j in d2.copy().keys():
            if i == j:
                comb[i] = comb[i] + d2[j]
            elif j not in comb.copy().keys():
                comb[j] = d2[j]
                
    return comb

In [282]:
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

### 실습 예제8

In [285]:
def comb_dict(d1, d2):
    d = d1.copy()
    
    for k in d2.keys():
        if k in d:
            d[k] += d2[k]
        else:
            d[k] = d2[k]
    return d

In [286]:
d1 = {'a': 1, 'b': 3, 'd': 7, 'e': 8}
d2 = {'a': 2, 'c': 4, 'e': 1}
d3 = comb_dict(d1, d2)
print(d3)

{'a': 3, 'b': 3, 'd': 7, 'e': 9, 'c': 4}

### 실습 문제 9

In [292]:
def diff(*x):
    if len(x)<2:
        print("Error!")
        
    else:
        x_max = max(x)
        x_min = min(x)
        return x_max - x_min

In [293]:
print(diff(1,2,3,4,5))
print(diff(-100, 200))
diff(1)

4
300
Error!

### 실습 예제9

In [287]:
def diff(*b):
    if len(b)<2:
        print("오류발생")
        return
    else:
        maximum = max(b)
        minimum = min(b)
        return maximum - minimum

In [289]:
print(diff(1,2,3,4,5))
print(diff(-100, 200))
diff(1)

4
300
오류발생